<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.debug.fresh.mapper.ActivationCodeMapper">

    <resultMap id="BaseResultMap" type="com.debug.fresh.pojo.ActivationCode">
            <id property="codeId" column="code_id" jdbcType="INTEGER"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="OTHER"/>
            <result property="generatedBy" column="generated_by" jdbcType="INTEGER"/>
            <result property="usedBy" column="used_by" jdbcType="INTEGER"/>
            <result property="orderId" column="order_id" jdbcType="VARCHAR"/>
            <result property="generatedAt" column="generated_at" jdbcType="TIMESTAMP"/>
            <result property="usedAt" column="used_at" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="OTHER"/>
            <result property="expirationDate" column="expiration_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        code_id,code,type,
        generated_by,used_by,order_id,
        generated_at,used_at,status,
        expiration_date
    </sql>
</mapper>
