<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.debug.fresh.mapper.ItemMapper">

    <resultMap id="BaseResultMap" type="com.debug.fresh.pojo.Item">
            <id property="itemId" column="item_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="imageUrl" column="image_url" jdbcType="VARCHAR"/>
            <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
            <result property="quantity" column="quantity" jdbcType="INTEGER"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="location" column="location" jdbcType="VARCHAR"/>
            <result property="notes" column="notes" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="OTHER"/>
            <result property="productionDate" column="production_date" jdbcType="DATE"/>
            <result property="shelfLife" column="shelf_life" jdbcType="INTEGER"/>
            <result property="shelfLifeUnit" column="shelf_life_unit" jdbcType="OTHER"/>
            <result property="expirationDate" column="expiration_date" jdbcType="DATE"/>
            <result property="limitedDate" column="limited_date" jdbcType="DATE"/>
            <result property="startDate" column="start_date" jdbcType="DATE"/>
            <result property="endDate" column="end_date" jdbcType="DATE"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        item_id,user_id,name,
        image_url,category_id,quantity,
        price,location,notes,
        type,production_date,shelf_life,
        shelf_life_unit,expiration_date,limited_date,
        start_date,end_date,created_at,
        updated_at
    </sql>
</mapper>
