<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.debug.fresh.mapper.PaymentOrderMapper">

    <resultMap id="BaseResultMap" type="com.debug.fresh.pojo.PaymentOrder">
            <id property="orderId" column="order_id" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="amount" column="amount" jdbcType="DECIMAL"/>
            <result property="paymentType" column="payment_type" jdbcType="OTHER"/>
            <result property="status" column="status" jdbcType="OTHER"/>
            <result property="productType" column="product_type" jdbcType="OTHER"/>
            <result property="activationCodeId" column="activation_code_id" jdbcType="INTEGER"/>
            <result property="transactionId" column="transaction_id" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="paidAt" column="paid_at" jdbcType="TIMESTAMP"/>
            <result property="expiredAt" column="expired_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        order_id,user_id,amount,
        payment_type,status,product_type,
        activation_code_id,transaction_id,created_at,
        paid_at,expired_at
    </sql>
</mapper>
